<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEGO Console</title>
</head>

<body>
  <img src="{{ url_for('video_feed') }}" width="50%" />

  <h1>Keyboard Event Monitor</h1>
  <p id="pressed"></p>

  <script>
    const pressed = document.getElementById("pressed");

    document.addEventListener('keydown', function (event) {
      fetch('/keyboard_event', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ key: event.key, code: event.code })
      });

      pressed.textContent = `${event.code}`
    });


  </script>
</body>

</html>